html, body {
    height: 100%;
    padding: 0;
}

header {
    margin-top: 0;
}

.has-cover {
    background-image: var(--cover-image-url) !important;
}

#Background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2em);
}

header {
    text-align: center;
}

#NowPlaying .track {
    display: flex;
    justify-content: center;
    align-items: center;
}

#NowPlaying .nothing-playing {
    text-align: center;
}

#NowPlaying .track .cover img {
    height: 8em;
    margin: 1em;
    border-radius: 1em;
}

#NowPlaying .track .info p {
    margin: 0;
}